body{
  margin: 5em;
  background-color: azure;
}

ul{  
  padding: 0;
  list-style-type: none;
}

li{
  margin-right: 2em;
  margin-top: 1em;

}

main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  padding-top: 1em;
  border-top: thick solid;
}

footer > p{
  margin: 0;  
}
h1>span{
  display: block;
  color: gray;
  font-style: italic;
}
a{
  font-weight: bold;
  text-decoration: none;
  color: blue;
}
p > img{
  width: 1em;
}
nav ul {
  border-bottom: thin solid;
}

h1 {
  border-bottom: thick solid black;
  color:red
}
h2{
  color:rgb(185, 13, 13)
}
aside,footer,header {
  background-color: rgba(240, 227, 227, 0.721);
}

